<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- google maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- angular-google-maps --> 
    <script src="lib/lodash/dist/lodash.min.js"></script>
    <script src='lib/angular-google-maps/dist/angular-google-maps.min.js'></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- factories, controllers, etc. -->
    <script src="js/requestFactory.js"></script>
    <script src="js/newHuntFactory.js"></script>
    <script src="js/PhotoFactory.js"></script>
    <script src="js/HuntFactory.js"></script>
    <script src="js/photos.js"></script>
    <script src="js/hunts.js"></script>
    <script src="js/newHunt.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="scavengerhunt" ng-controller="AppCtrl">

    <!-- Main template for the app.
          Nav-bar contains three buttons and allows switching between views.
          From left to right:
            -Photos view
            -Scavenger Hunts view
            -Add a new photo or hunt (opens a sliding menu)
    -->

    <ion-side-menus>
      <ion-side-menu-content>
      <ion-header-bar class="bar-royal">
      <div class="button-bar">
        <a ui-sref="pics" class="button button-icon ion-image"></a>
        <a ui-sref="home" class="button button-icon ion-home"></a>
        <a ng-click="toggleMenuRight()" class="button button-icon ion-plus"></a>
      </div>
      </ion-header-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <!-- slide-out menu -->
      <ion-side-menu side="right">
        <ion-header-bar class="bar-dark" ng-click="toggleMenuRight()">
          <h1 class="title">Create new:</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-item ng-click="toggleMenuRight()" ui-sref="newhunt">Scavenger Hunt</ion-item>
            <ion-item>Photo</ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </body>

</html>
