<!-- hunts/home view -->
<ion-view>
  <ion-content>
    <h1 class="item">Enter Zip Code to See Hunts in Your Area:</h2>
    <label class="item item-input">
      <input type="text" ng-model="zipcode"placeholder="ex. 94102"></input>
    </label>
    <button ng-click="filterByZip(zipcode)" class="button button-royal button-block">Submit</button>
    <ion-list ng-repeat="hunt in hunts">
      <ion-item>
        <img class="photo" rotate orientation='{{hunt.cover.orientation}}' src="{{hunt.cover.src}}">
      </ion-item>    
        <div class="card">
          <div class="item item-text-wrap">
            <p>{{hunt.info}}</p>
          </div>
        </div>
        <button ng-click="openModal($index)" class="button button-royal button-block">View Details</button>
    </ion-list>
  </ion-content>
</ion-view>

