<ion-view>
  <ion-header-bar class="bar-dark bar-subheader">
  <button class="button" ui-sref="newhuntphotos">Back</button>
  <h1 class="title">Review Hunt in {{zipcode}}</h1>
  </ion-header-bar>
  <ion-content>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" modelsbyref="false">
      </ui-gmap-markers>
    </ui-gmap-google-map> 
  <button ng-click="addHunt()" class="button button-block">Save and Submit</button>
  </ion-content>
</ion-view>
